<ion-content [fullscreen]="true">
  <div class="class-note-container">
    <div class="ads-container">
      <div class="col-1"><img src="assets/note-rewards.png"/> </div>
      <div class="col-2">
        <div class="text-1">Click & Earn</div>
        <div class="text-2">Get full month notes</div>
      </div>
      <div class="col-3"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>

    <div class="note-blocks">
      <div class="note-box"><div class="text-class">Class 1</div></div>
      <div class="note-box"><div class="text-class">Class 2</div></div>
      <div class="note-box"><div class="text-class">Class 3</div></div>
      <div class="note-box"><div class="text-class">Class 4</div></div>
      <div class="note-box"><div class="text-class">Class 5</div></div>
      <div class="note-box"><div class="text-class">Class 6</div></div>
      <div class="note-box"><div class="text-class">Class 7</div></div>
      <div class="note-box"><div class="text-class">Class 8</div></div>
      <div class="note-box"><div class="text-class">Class 9</div></div>
      <div class="note-box"><div class="text-class">Class 10</div></div>
    </div>
  </div>


</ion-content>
