<ion-content [fullscreen]="true">
  <div class="attendance-container">

    <div class="ads-container">
      <div class="col-1"><img src="assets/rewards-icon-1.png"/> </div>
      <div class="col-2">
        <div class="text-1">Click & Earn</div>
        <div class="text-2">Get full month report</div>
      </div>
      <div class="col-3"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>

    <div class="attendance-banner">
      <div class="banner-title">Today's Attendance</div>
      <div class="banner-digit">4598664</div>
    </div>

    <div class="attendance-list">
      <div class="attendance-row">
        <div class="row-date">06-Nov-2022</div>
        <div class="row-bottom">
          <div class="student-name">Student's Name</div>
          <div class="student-icon present"></div>
        </div>
      </div>

      <div class="attendance-row">
        <div class="row-date">07-Nov-2022</div>
        <div class="row-bottom">
          <div class="student-name">Student's Name</div>
          <div class="student-icon absent"></div>
        </div>
      </div>

    </div>
  </div>
</ion-content>
