<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="attendance">
        <div class="tab-button-content">
         <img src="assets/tabs/att.jpg">
        </div>

      </ion-tab-button>
      <ion-tab-button tab="classnote">
        <div class="tab-button-content">
          <img src="assets/tabs/note.jpg">
        </div>
      </ion-tab-button>
      <ion-tab-button tab="notification">
        <div class="tab-button-content">
          <img src="assets/tabs/notifi.jpg">
        </div>
      </ion-tab-button>
      <ion-tab-button tab="user-details">
        <div class="tab-button-content">
          <img src="assets/tabs/user.jpg">
        </div>
      </ion-tab-button>
      <ion-tab-button tab="routine">
        <div class="tab-button-content">
          <img src="assets/tabs/routine.jpg">
        </div>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
